    <!-- This is a Semantic HTML Change 4 -->
    <!-- changed div to footer -->
    <footer class="bottom">
      <!-- This is a Semantic HTML Change 2 -->
      <!-- changed div to section -->
      <section class="center">
          All rights reserved &copy; Bharadwaj Tirunagaru
          <a href="https://github.com/bharadwajtirunagaru/personal-budget-angular" target="_blank">
              <!--This is an A11y Change 3-->
              <!-- clicking the icon takes the user to the source code of person budget -->
              <img  src="/assets/git_hub_icon.png" alt="Source Code link" />
          </a>
      </section>

  <footer>
